@import url(./normalize.css);
@import url(./_fonts.css);
@import url(./_vars.css);
@import url(./settings.css);

/* blocks */
@import url(./blocks/_btn.css);
@import url('./blocks/_header.css');
@import url('./blocks/_nav.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    border: none;
    overflow: hidden;
    scroll-behavior: smooth;
}


a {
    color: inherit;
    cursor: pointer;
}

::selection {
    background-color: purple;
    color: plum;
}
